.img-contact {
width: 50px;

}

.fondo{

  background-color:rgba(226, 142, 243, 0.726);
}

.container{
  background-color:rgb(252, 236, 244);
}

@media(min-width:500px) and (max-width:750px){
  .contactos{
    display: none;
    
  }
}
